body {
  margin : 0;
  background-color: #297ca0;
}

a {
  color: #46b3e6;
  border-width: 5px;
  border-color: #46b3e6;
  border-style: double;
  padding: 10px;
  margin: 20px 80px 20px;
  font-size: 1.25rem;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  }

a:hover {
  color: #dff6f0;
}

hr {
  width: 50px;
  border-color: #d6e5fa;
  border-width: 3px;
  opacity: 0.25;
  border-spacing: 10px;
  border-style: dotted none none none;
}

.intro {
  text-align: center;
}

.name {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  word-spacing: 1rem;
  color: #46b3e6;
  margin: 100px auto 15px;
}

.desc {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  margin : 0 auto 50px;
  color: #46185f;
}

.myphoto {
  position: absolute;
  text-align: center;
  bottom: -100px;
  left: 30%;
  right: 30%;
}

.myphoto img {
  width: 60%;
  border-radius: 100%;
  margin: auto;
  border-width: 30px;
  border-top-color: #4d80e4;
  border-left-color: #4d80e4;
  border-right-color: #46b3e6;
  border-bottom-color: #46b3e6;
  border-style: groove;
}

.background {
  position: relative;
  width: 100%;
  height: 500px;
  margin : 100px auto;
}

.background_image {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cloud1 {
  width: 100%;
  position: absolute;
  bottom: -270px;
}

.about_me {
  text-align: center;
  margin-top: 200px;
}

.coding {
  text-align: left;
  width: 800px;
  margin: 100px auto 150px;
}

.code_image {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 20px;
  border-width: 10px;
  border-color: #46b3e6;
  border-style: outset;
}

.code_head {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: #46185f;
  text-decoration: underline;
  margin: 32px auto;
}

.code {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #46b3e6;
  margin: auto;
}

.baking {
  text-align: right;
  margin: 150px auto 100px;
  width: 800px;
}

.bake_image {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 20px;
  border-width: 10px;
  border-color: #46b3e6;
  border-style: outset;
}

.bake_head {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: #46185f;
  text-decoration: underline;
  margin: 32px auto;
}

.bake {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #46b3e6;
  margin: auto;
}

.contact {
  text-align: center;
  color: #46b3e6;
  font-size: 4.5rem;
  font-family: 'Sacramento', cursive;
  margin: 100px auto 0;
}

.contact_head {
  margin-bottom: 50px;
}

.footer {
  position: relative;
  text-align: center;
  padding: 80px 50px;
  background-color: #2e279d;
}

.copyright {
  position: absolute;
  padding-top: 10px;
  bottom: 1px;
  left : 30%;
  right : 30%;
  color: #dff6f0;
  font-size: 0.8rem;
}
